@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте ваш почтовый ящик для сброса пароля. 
</p>
