@page
@model IndexModel
@{
    ViewData["Title"] = "Администрирование";
}

<h1>@ViewData["Title"]</h1>

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-page="./Accounts/Index">Управление пользователями</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-page="./Students">Управление учащимися</a></li>
</ul>
