@page "/schedules"
@inject IJournalRepository repository

<PageTitle>E-Journal - Расписание групп</PageTitle>

<h1>Расписание групп</h1>
<br />

@if (groupsWithWeekSchedules == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var group in groupsWithWeekSchedules)
    {
        <GroupScheduleViewConponent Group = "@group" />
        <br />
    }
}

@code {
    private Group[] groupsWithWeekSchedules;

    protected override void OnInitialized()
    {
        groupsWithWeekSchedules = GetGroupsWithWeekSchedules();
        StateHasChanged();
    }

    private void SetScheduleLessons(Schedule schedule)
    {
        schedule.Lessons = repository.Lessons.Where(l => l.ScheduleId == schedule.Id).ToList();
    }

    private Group[] GetGroupsWithWeekSchedules()
    {
        DateTime currentWeekStartDate = DateTime.Now.Date.AddDays((int)DateTime.Now.DayOfWeek * -1 + 1);

        var groups = repository.Groups;
        var groupsSchedules = groups.Select(g => g.Schedules.OrderBy(s => s.Date).Reverse().Take(6).Reverse());
        var groupsWeekSchedules = groupsSchedules.Select(gs => gs.Where(s => s.Date >= currentWeekStartDate).ToArray()).ToArray();
        var selectedGroups = groups.ToArray();

        foreach (var g in selectedGroups)
        {
            g.Schedules = groupsWeekSchedules?
                .FirstOrDefault(ws => ws.FirstOrDefault()?.GroupId == g.Id)?.ToList() ?? new List<Schedule>();
        }

        selectedGroups.ToList().ForEach(g => g.Schedules.ToList().ForEach(s => SetScheduleLessons(s)));

        return selectedGroups;
    }
}
