@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в E-Journal</h1>
    <p>Вы не авторизованы. Для получения персонализированной информации и доступа к основным функциям, пожалуйста, <a asp-area="Identity" asp-page="Account/Login">авторизуйтесь</a>.</p>
</div>
