@page
@model E_Journal.WebUI.Pages.SchedulesModel
@{
    ViewData["Title"] = "Расписания групп";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.GroupSchedules.Any())
{
    <p><em>Расписания отсутствуют.</em></p>
}
else
{
    @foreach (var groupSchedule in Model.GroupSchedules)
    {
        @await Component.InvokeAsync("GroupSchedule", groupSchedule)
        <br />
    }
}
