@model TeacherScheduleViewModel

<h2>@Model.Title</h2>
<h3>@GetDatesRange(Model.Dates)</h3>

@if(!Model.Lessons.Any())
{
    <p><em>Расписание отсутствует.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var date in Model.Dates)
                {
                    <th colspan="2">@DateToString(date)</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int lessonNumber = 1; lessonNumber <= Model.MaxLessonsPerDay; lessonNumber++)
            {
                <tr>
                    @foreach (var date in Model.Dates)
                    {
                        @await Component.InvokeAsync("TeacherLessonCell", Model.Lessons.SingleOrDefault(l => l.Date == date && l.Number == lessonNumber))
                    }
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    private string DateToString(DateTime date){
        string str = date.ToString("dddd", new System.Globalization.CultureInfo("ru-RU"));
        return str[0].ToString().ToUpper() + str[1..] + ", " + date.ToString("dd.MM.yyyy");
    }
    private string GetDatesRange(DateTime[] dates)
    {
        return $"{dates.First().ToString("dd.MM.yyyy")} - {dates.Last().ToString("dd.MM.yyyy")}";
    }
}