@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Please contact your system administrator to verify your account.
</p>
<a href="@Model.ReturnUrl" class="btn btn-primary">Back</a>